<%= form_with model: kitten do |form| %>

  <div>
    <% if kitten.errors.any? %>
      <p>
        <%= pluralize(kitten.errors.count, "error") %> prohibited this kitten from being created:
      </p>
      <ul>
        <% kitten.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.text_field :age %>
  </div>

  <div>
    <%= form.label :cuteness %><br>
    <%= form.text_field :cuteness %>
  </div>

  <div>
    <%= form.label :softness %><br>
    <%= form.text_field :softness %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
